name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - run: sudo apt install sshpass rsync 

    - name: rsync
      run: rsync --rsh="/usr/bin/sshpass -p \"${{ secrets.REMOTE_PASSWORD }}\" ssh -o StrictHostKeyChecking=no -l deployer" -avz --delete . ${{ secrets.REMOTE_USER }}@${{ vars.REMOTE_HOST }}:plebeian.market

    - name: Deploy final assets to server
      uses: appleboy/ssh-action@master
      with:
        host: ${{ vars.REMOTE_HOST }}
        username: ${{ secrets.REMOTE_USER }}
        password: ${{ secrets.REMOTE_PASSWORD }}
        script: |
          bash
          cd plebeian.market
          mv .env.sample .env
          # Kill any process running on port 4173
          fuser -k 4173/tcp || true
          # Install dependencies and build the project
          pnpm i --frozen-lockfile
          rm ./sqlite.db || true
          pnpm db:init
          pnpm build
          # Run pnpm preview in the background and log output to a file
          nohup pnpm preview > preview.log 2>&1 &
          # Give pnpm preview some time to start and log its initial output
          sleep 10
          # Display the first few lines of the pnpm preview output
          head -n 20 preview.log

