name: E2E Test
on: [push]

jobs:
  ci:
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v4
      - run: corepack enable
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"
      - run: pnpm install
      - run: npx playwright install --with-deps
      - run: pnpm test
        env:
          APP_HOST: localhost
          APP_PORT: 5173
